################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ATM Simulator/FileContentIndex/5e360c67-5d96-4950-8b0b-02cba1d61c15.vsidx
/.vs/ATM Simulator/FileContentIndex/861d334d-cc01-45a5-911e-d015aee07bdf.vsidx
/.vs/ATM-Simulator-/FileContentIndex/1ffa2ec7-f94b-4d11-b7f1-bd9cdde1bb7b.vsidx
/.vs/ATM-Simulator-/FileContentIndex/7b3dc4e3-964c-400c-9aa0-40855164f9f7.vsidx
/.vs/ATM-Simulator-/FileContentIndex/eb93d508-00ab-4a6f-aa5a-68bc2a3c642a.vsidx
/.vs/ATM-Simulator-/FileContentIndex/3be0497e-f982-45b2-9626-419ddf9a2a44.vsidx
/.vs/ATM Simulator/FileContentIndex/bcb09cd3-e1d5-4846-ab02-89345d07bf69.vsidx
/.vs/ATM Simulator/FileContentIndex/abd3a9ad-3357-4894-ba53-fbc644a0878c.vsidx
/.vs/ATM Simulator/FileContentIndex/2c86b2e9-00f8-4dad-bc6e-eed1c5524062.vsidx
/.vs/ATM Simulator/FileContentIndex/4ed64aee-e3fd-4e44-95d2-7c0035105049.vsidx
/.vs/ATM Simulator/FileContentIndex/2a0d0268-fe57-484d-ae18-1068670d04d2.vsidx
/.vs/ATM Simulator/FileContentIndex/316dc1c1-173d-483a-baa3-14f052e9263a.vsidx
/.vs/ATM Simulator/FileContentIndex/73dc5684-6b38-4b7e-81ee-4bdf545eb9c4.vsidx
/.vs/ATM Simulator/FileContentIndex/f6148508-038f-4a0e-ae05-f9623649f233.vsidx
