################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ATM Simulator/FileContentIndex/5e360c67-5d96-4950-8b0b-02cba1d61c15.vsidx
/.vs/ATM Simulator/FileContentIndex/861d334d-cc01-45a5-911e-d015aee07bdf.vsidx
/.vs/ATM-Simulator-/FileContentIndex/1ffa2ec7-f94b-4d11-b7f1-bd9cdde1bb7b.vsidx
/.vs/ATM-Simulator-/FileContentIndex/7b3dc4e3-964c-400c-9aa0-40855164f9f7.vsidx
/.vs/ATM-Simulator-/FileContentIndex/eb93d508-00ab-4a6f-aa5a-68bc2a3c642a.vsidx
/.vs/ATM-Simulator-/FileContentIndex/3be0497e-f982-45b2-9626-419ddf9a2a44.vsidx
/.vs/ATM Simulator/FileContentIndex/bcb09cd3-e1d5-4846-ab02-89345d07bf69.vsidx
/.vs/ATM Simulator/FileContentIndex/abd3a9ad-3357-4894-ba53-fbc644a0878c.vsidx
/.vs/ATM Simulator/FileContentIndex/2c86b2e9-00f8-4dad-bc6e-eed1c5524062.vsidx
/.vs/ATM Simulator/FileContentIndex/4ed64aee-e3fd-4e44-95d2-7c0035105049.vsidx
/.vs/ATM Simulator/FileContentIndex/2a0d0268-fe57-484d-ae18-1068670d04d2.vsidx
/.vs/ATM Simulator/FileContentIndex/316dc1c1-173d-483a-baa3-14f052e9263a.vsidx
/.vs/ATM Simulator/FileContentIndex/73dc5684-6b38-4b7e-81ee-4bdf545eb9c4.vsidx
/.vs/ATM Simulator/FileContentIndex/f6148508-038f-4a0e-ae05-f9623649f233.vsidx
/.vs/ATM Simulator/FileContentIndex/797534c1-5d28-400f-9c30-5ebd9ba34df9.vsidx
/.vs/ATM Simulator/FileContentIndex/40ac6723-e348-4278-8d9c-0a49f3addd15.vsidx
/.vs/ATM Simulator/FileContentIndex/1a95ec71-92c7-4991-ab7c-8e69e147d5ca.vsidx
/.vs/ATM Simulator/FileContentIndex/663c6ab5-fbec-42a9-82ce-a05b2617f40a.vsidx
/.vs/ATM Simulator/FileContentIndex/0639ca28-b50a-4fbb-b124-8829045f5fd1.vsidx
/.vs/ATM Simulator/FileContentIndex/1285bfc5-118b-4be9-94b2-f2137759767e.vsidx
/.vs/ATM Simulator/FileContentIndex/1f93c664-e858-45da-a1b2-552c702e9392.vsidx
/.vs/ATM Simulator/FileContentIndex/c1175874-de0d-4ec0-9c3b-6d58c648f9a8.vsidx
/.vs/ATM Simulator/FileContentIndex/e6e6464b-203d-47e2-99bc-6f2565d8b965.vsidx
/.vs/ATM Simulator/v17/.suo
/.gitignore
/.vs/ATM Simulator/v17/.suo
/.vs/ATM Simulator/FileContentIndex/c93a4577-3f3b-4e38-80e1-6546b51eda3f.vsidx
/.vs/ATM Simulator/FileContentIndex/dd31d584-501e-4f2f-ab15-c739653656f5.vsidx
/.vs/ATM Simulator/FileContentIndex/3f41c1b4-16f8-46e8-8bda-120db920e1f3.vsidx
/.vs/ATM Simulator/FileContentIndex/abb641e7-fd1e-4ea9-92d3-d4aae96aa865.vsidx
/.vs/ATM Simulator/FileContentIndex/dece386d-043e-4aa8-864e-d7efb6ae6f73.vsidx
/.vs/ATM Simulator/FileContentIndex/fad81e6c-0eca-4589-961d-248cb89c8f73.vsidx
/.vs/ATM Simulator/FileContentIndex/3d86cf6c-700a-4f34-8b3c-7723d92b8ad7.vsidx
/.vs/ATM Simulator/FileContentIndex/90df57d9-9587-4108-aed2-7b3237a5eee8.vsidx
/.vs/ATM Simulator/FileContentIndex/597d45db-fedf-4275-a336-d8f7a41690d3.vsidx
/.vs/ATM Simulator/FileContentIndex/9da7091c-631c-447f-aa1d-32a3ffc70234.vsidx
/.vs/ATM Simulator/FileContentIndex/2245af16-8f6d-4dcd-b0f9-a3c3dff96845.vsidx
/.vs/ATM Simulator/FileContentIndex/464b8fac-fbfd-4506-830c-f3fa8b40e5a4.vsidx
/.vs/ATM Simulator/FileContentIndex/7be029fd-b6ae-4e9c-9cb6-5d16eef7eeb0.vsidx
/.vs/ATM Simulator/FileContentIndex/25b85881-0b75-46cc-9109-f6cfbca15dda.vsidx
/.vs/ATM Simulator/FileContentIndex/2f765c54-614d-4c97-8ea6-4fae816ddba8.vsidx
/.vs/ATM Simulator/FileContentIndex/780a46ea-d5f5-464c-99b8-654e2dd7c0c5.vsidx
/.vs/ATM Simulator/FileContentIndex/990f7a0c-5ea7-4c34-8bbc-80ca6d859ad2.vsidx
/.vs/ATM Simulator/FileContentIndex/1753136b-24c5-4d5d-93e0-54316c2ed0ba.vsidx
/.vs/ATM Simulator/FileContentIndex/0da021c4-d131-4431-a8da-7e9ec642302f.vsidx
/.vs/ATM Simulator/FileContentIndex/f739907b-7208-4035-9c53-fd7fdf9fb8f4.vsidx
