################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ATM Simulator/FileContentIndex/5e360c67-5d96-4950-8b0b-02cba1d61c15.vsidx
/.vs/ATM Simulator/FileContentIndex/861d334d-cc01-45a5-911e-d015aee07bdf.vsidx
/.vs/ATM-Simulator-/FileContentIndex/1ffa2ec7-f94b-4d11-b7f1-bd9cdde1bb7b.vsidx
/.vs/ATM-Simulator-/FileContentIndex/7b3dc4e3-964c-400c-9aa0-40855164f9f7.vsidx
